* {
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: slategray;
}

#container {
  display: flex;
  flex-direction: row;
}

#buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
}

#grid-box {
  display: flex;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
  /*border: 0.5px solid purple;*/
}

.col {
  flex-grow: 1;
  width: 6.25%;
  /*border: 0.5px solid blue;*/
}

button {
  width: max-content;
  background-color: floralwhite;
  box-shadow: none;
  border: solid black 1px;
  border-radius: 0.5em;
  padding: 5px;
  font-size: medium;
}